<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteBase /

RewriteRule ^about$ about.php
RewriteRule ^services$ services.php

</IfModule>